

manifest {
    homePage = 'http://github.com/h3abionet/h3agwas'
    description = 'GWAS Pipeline for H3Africa'
    mainScript = 'gwas.nf'
}


profiles {

    standard {
        process.executor = 'local'
    }

    pbs {
        process.executor = 'pbs'
        process.queue = 'long'
        process.memory= '10GB'
        process.$pruneForIBD.cpus = '4'
        process.$computePhase0.cpus = '4'
    }

    docker {
        process.$foo.container = 'image_name_1'
        process.$bar.container = 'image_name_2'
	docker.enabled = true
        process.executor = 'local'
    }

}