params.message = 'hi there!'

params.snvName = 'NULL'
params.cohortName = 'NULL'
params.email = 'NULL'

params.samplesWithPoorClinicalData = 'NULL'

params.inputDir = "${launchDir}/input/"
params.outputDir = "${launchDir}/output/"

profiles {
    docker {
        includeConfig "${projectDir}/configs/docker.config"
    }
    chpc {
        includeConfig "${projectDir}/configs/chpc.config"
    }
}
