includeConfig "${projectDir}/configs/base.config"
includeConfig "${projectDir}/configs/containers.config"

profiles {
    docker {
        includeConfig "${projectDir}/configs/docker.config"
    }
    chpc {
        includeConfig "${projectDir}/configs/chpc.config"
    }
    ucthpc {
        includeConfig "${projectDir}/configs/ucthpc.config"
    }
}

