includeConfig "${projectDir}/configs/base.config"

params {
    message = 'hi there!'
    inputDir = "/mnt/lustre3p/users/kesoh/gwasdata/28_OCT_2018/data-subset/"
    threads = 24
    outputDir = "/mnt/lustre3p/users/kesoh/gwasdata/output/"
    sampleReport = "sample-report.csv"
    snpReport = "locus-report.csv"
    reference = "/mnt/lustre/groups/1000genomes/annotation/REF_VC/hg19/ucsc.hg19.fasta"
    cohortName = "test-data"
    thousandGenomesDir = "/mnt/lustre3p/users/kesoh/imputationReference/"
    samplesWithPoorClinicalData = 'NULL'
    numberOfGtReportHeaderLines = 11
    workDir = "/mnt/lustre3p/users/kesoh/gwasdata/work/"
    containersDir = "/mnt/lustre3p/users/kesoh/gwas-test/"
    email = "eshkev001@myuct.ac.za"
}

profiles {

    docker {
        includeConfig "${projectDir}/configs/docker.config"
    }
    chpc {
        includeConfig "${projectDir}/configs/chpc.config"
    }
    ucthpc {
        includeConfig "${projectDir}/configs/ucthpc.config"
    }
}

