params.queue      = 'batch'
params.work_dir = "/home/wilson/sadacc-workflows/projects/testpca"

params.input  = "${params.work_dir}/input"
params.input_testing  = "${params.input}/sampleA"

params.input_testingg  = "${params.input}/sampleA.bed"

params.output = "${params.work_dir}/output"
params.output_testing = "${params.output}/cleaned"

params.output_testings  = "${params.output}/sampleA"

params.output_dir = params.output

outfname = params.output_testing

params.sampled = "cleaned"
params.sampling = "clean"

params.first = "sampleA"

params.mperm = 00

params.thin       = ""
params.covariates = ""
params.chrom      = ""
params.print_pca = 1
params.file_rs_buildrelat = ""
params.genetic_map_file = ""

params.max_plink_cores = 4
params.plink_mem_req = '6GB' // how much plink needs for this
params.other_process_mem_req = '10G' // how much other processed need
params.big_time             = '10h'

plink_mem_req = params.plink_mem_req
other_mem_req = params.other_process_mem_req
max_plink_cores = params.max_plink_cores 

params.assoc     = 0
params.fisher   = 0
params.cmh     =  0
params.model   =  0
params.linear   = 0
params.logistic = 0
params.gemma = 0
params.gemma_multi=0
params.gemma_mem_req = "6GB"
params.gemma_relopt = 1
params.gemma_lmmopt = 4
params.gemma_mat_rel = ""
params.gemma_num_cores = 8
params.pheno = "_notgiven_"
params.data = "${params.input}/sample.phe"

/*JT Append initialisation variable*/
params.bolt_covariates_type = ""
params.bolt_ld_score_file= ""
params.bolt_ld_scores_col=""
params.boltlmm = 0
params.bolt_num_cores=8
params.bolt_mem_req="6GB"
params.bolt_use_missing_cov=0
params.exclude_snps=""
params.bolt_impute2filelist=""
params.bolt_impute2fidiid=""
params.bolt_otheropt=""
/*fastlmm param*/
params.fastlmm = 1
params.fastlmm_num_cores=2
params.fastlmm_mem_req="7GB"
params.fastlmm_multi = 1

params.fastlmmc_bin ="fastlmmc"
params.bolt_bin ="bolt"
params.gemma_bin ="gemma"

/*gxe param : contains column of gxe*/
params.gemma_gxe=0
params.plink_gxe=0
params.max_plink_cores = 4
params.rs_list=""
params.gxe=""

/**/
params.fastgwa=1
params.fastgwa_mem_req="10G"
params.fastgwa_num_cores=5
params.grm_nbpart=100
params.gcta64_bin = "gcta64"
params.fastgwa_type="--fastGWA-mlm-exact"
params.grm_cutoff =  0.05
params.covariates_type=""
params.gcta_grmfile=""
params.sample_snps_rel=1
params.sample_snps_rel_paramplkl="100 20 0.1"




















