executor {
  name = 'pbspro'
  queue = 'serial'
  queueSize = 10
}

process {

  beforeScript = 'module load chpc/nextflow/20.10.0'
  beforeScript = 'module load chpc/singularity/3.5.3'
  beforeScript = 'module load chpc/BIOMODULES/plink'

  cpus = 24
  time = 1.h
  memory = 100.GB
  clusterOptions = '-P CBBI1243 -l select=1 -m b'

  withLabel: 'smallMemory' { 
    cpus = 24
    time = 10.m 
    memory = 10.GB	
  }

  withLabel: 'bigMemory' {
    time = 2.h
    memory = 200.GB
  }


}

params {
  
  dataDir = "/mnt/lustre/groups/1000genomes/annotation/SCD/28_OCT_2018/"
  threads = "24"
  outDir = "/mnt/lustre3p/users/kesoh/gwas-test/output"
  params.sampleReport = "WTS_H3Africa_Wonkam_2018.04_DNA_Summary_Report.csv"
  params.snpReport = "WTS_H3Africa_Wonkam_2018.04_Locus_Summary_Report.csv"
  
}

singularity.enabled = true
singularity.autoMounts = true
process.container = '/mnt/lustre3p/users/kesoh/gwas-test/py3-pandas-datatable.sif'
