profiles {
    chpc {
        params.rootDir = "/mnt/lustre3p/groups/CBBI1243/SharedResources/workflows/h3agwas/"
        includeConfig "${params.rootDir}/configs/chpc.config"
    }
    jackdev {
        params.rootDir = "/mnt/lustre3p/users/jmorrice/development/workflows/h3agwas/"
        includeConfig "{params.rootDir}/configs/jackdev.config"
    }
}
