https://faculty.washington.edu/browning/beagle/beagle.29May21.d6d.jar
https://faculty.washington.edu/browning/beagle/bref3.29May21.d6d.jar
http://faculty.washington.edu/browning/conform-gt/conform-gt.24May16.cee.jar
