// default workflow parameter values //
params {
    message = 'Dumelang!'
    inputDir = 'NULL'
    outputDir = 'NULL'
    sampleReport = 'NULL'
    snpReport = 'NULL'
    cohortName = 'NULL'
    samplesWithPoorClinicalData = 'NULL'
    numberOfGtReportHeaderLines = 11
    email = 'NULL'
}

// added for qc step //
params {

    // Directories
    work_dir                = "/$PWD"
    input_dir               = "sample"
    // Can use S3 too
    //input_dir               = "s3://h3abionet/sample"
    input_pat               = "sampleA"

    output_dir              = "${params.work_dir}/output"
    scripts                 = "${params.work_dir}/scripts"
    output                  = "out"

    max_forks            = 95     

    high_ld_regions_fname = ""
    sexinfo_available    = true
    cut_het_high         = 0.343
    cut_het_low           = 0.15
    cut_diff_miss         = "0.05"
    cut_maf                = "0.01"
    cut_mind              = "0.02"
    cut_geno              = 0.01
    cut_hwe               = 0.008
    pi_hat                = 0.11
    super_pi_hat      = 0.7
    f_lo_male             = 0.8 // default for F-sex check -- >= means male
    f_hi_female           = 0.2 //  <= means female
    gc10                 = 0.4  // 10% Gen Call confidence -- 0.4 is very low
    case_control         = "${params.input_dir}/sample.phe"
    case_control_col     = "PHE"


    phenotype = "0"
    pheno_col = ""
    batch = "0"
    batch_col = 0

    idpat                =  0  // or "(\\w+)-DNA_(\\w+)_.*" or ".*_(.*)"

    plink_mem_req        = "1750MB"
    other_mem_req        = "1750MB"
    big_time             = '12h'
    sharedStorageMount   = "/mnt/shared"
    max_plink_cores      = 4

}
// end: qc params //

//  container images //
process {

    errorStrategy = { task.exitStatus in [135,255] ? 'retry' : 'finish' }
    maxErrors = '-1'
    maxRetries = 3

    container = "quay.io/h3abionet_org/py3plink:latest"

    withLabel:perl {
        container = 'sickleinafrica/perl-checkstrand:latest'
    }
    withLabel:tidyverse {
        container = "rocker/tidyverse:latest"
    }
    withLabel:qqman {
        container = "sickleinafrica/r-qqman:latest"
    }
    withLabel:plink2 {
        container = "sickleinafrica/plink2:latest"
    }
    withLabel:bcftools {
        container = "sickleinafrica/bcftools:latest"
    }
    withLabel:plink {
        container = "quay.io/h3abionet_org/py3plink:latest"
    }
    withLabel:datatable {
        container = "sickleinafrica/py3-pandas-datatable"
    }
}
