// default workflow parameter values //
params {
    message = 'Dumelang!'
    outputDir = 'NULL'
    sampleReport = 'NULL'
    snpReport = 'NULL'
    cohortName = 'NULL'
    samplesWithPoorClinicalData = 'NULL'
    numberOfGtReportHeaderLines = 11
    email = 'NULL'
}

// added for buildInputCohortData step //
params {
    illumina {
        locusReport = 'NULL'
        sampleReport = 'NULL'
        genotypeReports = 'NULL'
    }
    clinicalPhenotypeFam = 'NULL'
    referenceSequence = 'NULL'
}

// added for sample QC step //
params {
    checkSex {
        femaleMaxF = 0.2 // default adivsed by plink
        maleMinF = 0.8 // default advised by plink
    }
    cut_het_low = 0.15
    cut_het_high = 0.343
    relatedness {
        piHat = 0.11
        superPiHat = 0.7
    }
    cut_het_high = 0.343
    cut_het_low = 0.15
}

// added for snv QC step //
params {
    differentialMissingness {
        mperm = 10000
        cut = 0.05
    }
    hwe {
        cut = 0.05
    }
    missingness {
        maxRate {
            cases = 0.01
            controls = 0.01
        }
    }
    minMAF = 0.05
}

// added for basic quality control step //
params {
    cut_diff_miss = "0.05"
    cut_maf = "0.01"
    cut_mind = "0.02"
    cut_geno = 0.01
    cut_hwe = 0.008
    gc10                 = 0.4  // 10% Gen Call confidence -- 0.4 is very low
}

// for phasing //
params {
    referencePanelsDir = 'NULL'
    geneticMapsDir = 'NULL'
    phasingWindowSize = 40.0

}
// end: qc params //

//  container images //
process {

    errorStrategy = { task.exitStatus in [135] ? 'retry' : 'finish' }
    maxErrors = '-1'
    maxRetries = 3

    container = "quay.io/h3abionet_org/py3plink:latest"

    withLabel:perl {
        container = 'sickleinafrica/perl-checkstrand:latest'
    }
    withLabel:tidyverse {
        container = "rocker/tidyverse:latest"
    }
    withLabel:qqman {
        container = "sickleinafrica/r-qqman:latest"
    }
    withLabel:plink2 {
        container = "sickleinafrica/plink2:latest"
    }
    withLabel:bcftools {
        container = "sickleinafrica/bcftools:latest"
    }
    withLabel:samtools {
        container = "sickleinafrica/samtools:1.11"
    }
    withLabel:htslib {
        container = "sickleinafrica/htslib:1.12"
    }
    withLabel:plink {
        container = "quay.io/h3abionet_org/py3plink:latest"
    }
    withLabel:datatable {
        container = "sickleinafrica/py3-pandas-datatable"
    }
    withLabel:beagle {
        container = "sickleinafrica/beagle"
    }
}
