params {
    testMessage = 'Dumelang!'
    outputDir = 'NULL'
    cohortName = 'NULL'
    numberOfGtReportHeaderLines = 11
    email = 'NULL'
    selectedSnv = 'NULL'
    associationInput = 'NULL'

    input {
        locusReport = 'NULL'
        sampleReport = 'NULL'
        genotypeReports = 'NULL'
        clinicalPhenotypeFam = 'NULL'
    }
    baseQC {
        referenceSequence = 'NULL'
        minAlleleFrequency = 0.01
        maxMissingnessPerSample = 0.02
        maxMissingnessPerSnv = 0.01
        minHardyWeinbergEquilibriumPvalue = 0.008
    }
    sampleQC {
        maxInbreedingCoefficientForFemaleCalls = 0.2
        minInbreedingCoefficientForMaleCalls = 0.8
        minRelatednessPiHat = 0.11
        maxRelatednessPiHat = 0.7
        minHeterozygosity = 0.15
        maxHeterozygosity = 0.343

    }
    snvQC {
        numberOfMaxTPermutations = 10000
        minDifferentialMissingnessPvalue = 0.05
        minAlleleFrequency = 0.05
        maxMissingnessPerSnv {
            cases = 0.01
            controls = 0.01
        }
        minHardyWeinbergEquilibriumPvalue = 0.05
    }
    phase {
        referencePanelsDir = 'NULL'
        geneticMapsDir = 'NULL'
        windowSize = 40.0
    }
}

process {
    errorStrategy = { task.exitStatus in [135,255] ? 'retry' : 'finish' }
    maxErrors = '-1'
    maxRetries = 3
}
