params {

    inputDir = "/mnt/lustre/groups/1000genomes/annotation/SCD/28_OCT_2018/"
    threads = 24
    outputDir = "/mnt/lustre3p/users/kesoh/gwas-test/output/"
    sampleReport = "WTS_H3Africa_Wonkam_2018.04_DNA_Summary_Report.csv"
    snpReport = "WTS_H3Africa_Wonkam_2018.04_Locus_Summary_Report.csv"
    cohortName = "cam-SCD-GWAS"
    numberOfGtReportHeaderLines = 11
    containersDir = "/mnt/lustre3p/users/kesoh/gwas-test/"
    email = "kevin.esoh@students.jkuat.ac.ke"
}

executor {
    name = 'pbspro'
    queue = 'serial'
    queueSize = 10
}

singularity {
    enabled = true
    automounts = true
}

process {
    beforeScript = 'module load chpc/singularity/3.5.3'
  
    errorStrategy = { task.exitStatus in [135,255] ? 'retry' : 'finish' }
    maxErrors = '-1'
    maxRetries = 3
  
    cpus = 24
    time = 30.m
    memory = 50.GB
    clusterOptions = '-P CBBI1243 -l select=1'
  
    withLabel:smallMemory { 
        cpus = 1
        time = 5.m 
        memory = 50.MB	
    }
    withLabel:bigMemory {
        time = 2.h
        memory = 100.GB
    }
    withLabel:mediumMemory {
        cpus = 24
        time = 30.m
        memory = 1.GB
    }
    withLabel:perl {
        container = "${params.containersDir}perl_latest.sif"
    }
    withLabel:tidyverse {
        container = "${params.containersDir}tidyverse_latest.sif"
    }
    withLabel:qqman {
        container = "${params.containersDir}r-qqman_latest.sif"
    }
    withLabel:plink {
        container = "${params.containersDir}py3plink_latest.sif"
    }
    withLabel:datatable {
        container = "${params.containersDir}py3-pandas-datatable.sif"
    }

}
