executor {
    name = 'pbspro'
    queue = 'serial'
    queueSize = 10
}

singularity {
    enabled = true
    automounts = true
    cacheDir = "${HOME}/singularity"
}

params {
    reference = "/mnt/lustre/groups/1000genomes/annotation/REF_VC/hg19/ucsc.hg19.fasta"
}

process {

    beforeScript = 'module load chpc/singularity/3.5.3'
 
    errorStrategy = { task.exitStatus in [135,255] ? 'retry' : 'finish' }
    maxErrors = '-1'
    maxRetries = 3
  
    cpus = 24
    time = 30.m
    memory = 50.GB

    clusterOptions = '-P CBBI1243 -l select=1'

    cpus = 1
    time = 10.m
    memory = 20.GB

    withLabel:smallMemory {
        cpus = 1
        time = 5.m
        memory = 50.MB
    }
    withLabel:bigMemory {
        time = 2.h
        cpus = 23
        memory = 120.GB
    }
    withLabel:mediumMemory {
        cpus = 23
        time = 30.m
        memory = 1.GB
    }
    withLabel:perl {
        container = "${params.containersDir}perl_latest.sif"
    }
    withLabel:tidyverse {
        container = "${params.containersDir}tidyverse_latest.sif"
    }
    withLabel:qqman {
        container = "${params.containersDir}r-qqman_latest.sif"
    }
    withLabel:plink2 {
        container = "${params.containersDir}plink2_latest.sif"
    }
    withLabel:bcftools {
        container = "${params.containersDir}bcftools_latest.sif"
    }
    withLabel:plink {
        container = "${params.containersDir}py3plink_latest.sif"
    }
    withLabel:datatable {
        container = "${params.containersDir}py3-pandas-datatable.sif"
    }
    withLabel:Rbase {
	container = "${params.containersDir}R.sif"
    }
    withLabel:beagle {
	container = "${params.containersDir}beagle.sif"
    }

    // added for QC //
    withLabel:bigMem {
      memory = '8GB'
    }
}
