process {
    withLabel:perl {
        container = 'sickleinafrica/perl-checkstrand:latest'
    }
    withLabel:tidyverse {
        container = "rocker/tidyverse:latest"
    }
    withLabel:qqman {
        container = "sickleinafrica/r-qqman:latest"
    }
    withLabel:plink2 {
        container = "sickleinafrica/plink2:latest"
    }
    withLabel:bcftools {
        container = "sickleinafrica/bcftools:latest"
    }
    withLabel:samtools {
        container = "sickleinafrica/samtools:1.11"
    }
    withLabel:htslib {
        container = "sickleinafrica/htslib:1.12"
    }
    withLabel:plink {
        container = "quay.io/h3abionet_org/py3plink:latest"
    }
    withLabel:datatable {
        container = "sickleinafrica/py3-pandas-datatable"
    }
    withLabel:python3 {
        container = "sickleinafrica/py3-pandas-datatable"
    }
    withLabel:matplotlib {
        container = "quay.io/h3abionet_org/py3plink:latest"
    }
    withLabel:beagle {
        container = "sickleinafrica/beagle"
    }
}