docker.enabled = true
process.executor = 'local'
docker.process.executor = 'local'
process {
    withLabel:tidyverse {
        container = "rocker/tidyverse"
    }
    withLabel:qqman {
        container = "sickleinafrica/r-qqman"
    }
    withLabel:plink {
        container = "quay.io/h3abionet_org/py3plink"
    }
}