docker.enabled = true
process.executor = 'local'
docker.process.executor = 'local'
process {

    container = "quay.io/h3abionet_org/py3plink"

    withLabel:tidyverse {
        container = "rocker/tidyverse"
    }
    withLabel:qqman {
        container = "sickleinafrica/r-qqman"
    }
    withLabel:plink {
        container = "quay.io/h3abionet_org/py3plink"
    }
    withLabel:datatable {
        container = "sickleinafrica/py3-pandas-datatable"
    }
}

docker.remove      = true
docker.registry    = 'quay.io'
docker.enabled     = true
docker.temp        = 'auto'
docker.fixOwnership= true
docker.runOptions = '-u $(id -u):$(id -g) --rm'