process {

    cpus = 1
    time = 10.m
    memory = 20.GB

    withLabel:smallMemory {
        cpus = 1
        time = 5.m
        memory = 50.MB
    }
    withLabel:bigMemory {
        time = 2.h
        memory = 100.GB
    }
    withLabel:mediumMemory {
        cpus = 24
        time = 30.m
        memory = 1.GB
    }

    // added for QC //
    withLabel:bigMem {
      memory = '8GB'
    }

}