includeConfig "${params.rootDir}/configs/base.config"

params.containersDir = "/mnt/lustre3p/groups/CBBI1243/SharedResources/containers/"

// converting illumina data to plink format
params {
	indiv_memory_req="2GB"
	time_req = "12h"
	max_forks = 95
	params.idpat = 0
	samplesize = 0  // How many individuals in each genotype report 0=ALL
}

process {
    withName:plotXYintensityData {
        container = "${params.containersDir}/tidyverse_latest.sif"
    }
}

singularity.autoMounts = true
singularity.enabled = true

process.executor = 'local'

container = "${params.containersDir}/py3plink_latest.sif"

params.chipdescription = "/external/diskA/novartis/metadata/HumanOmni5-4v1_B_Physical-and-Genetic-Coordinates.txt"
