executor {
    name = 'slurm'
    queue = 'sadacc-short'
    queueSize = 10
}

singularity {
    enabled = true
    automounts = true
    cacheDir = "/opt/exp_soft/siaworkflows/singularity-containers"
}

process {

    clusterOptions = '--account pathology --nodes=1'

    queue = 'sadacc-short'

    cpus = 2
    time = '00:30:00'
    memory = 20.GB

    withLabel:smallMemory {
        cpus = 1
        time = '00:05:00'
        memory = 50.MB
    }
    withLabel:mediumMemory {
        cpus = 5 
        time = '00:30:00'
        memory = 10.GB
    }
    withLabel:bigMemory {
	cpus = 16
        time = '02:00:00'
        memory = 100.GB
    }
}
