executor {
    name = 'slurm'
    queue = 'serial'
    queueSize = 10
}

singularity {
    enabled = true
    automounts = true
    cacheDir = "/opt/exp_soft/siaworkflows/singularity-containers"
}

process {

    // databases //
    reference = "/mnt/lustre/groups/1000genomes/annotation/REF_VC/hg19/ucsc.hg19.fasta"

    clusterOptions = '--account pathology --nodes=1'

    queue = 'sadacc-short'

    cpus = 1
    time = 00:10:00
    memory = 20.GB

    withLabel:smallMemory {
        cpus = 1
        time = time = 00:05:00
        memory = 50.MB
    }
    withLabel:bigMemory {
        time = time = 02:00:00
        memory = 100.GB
    }
    withLabel:mediumMemory {
        cpus = 24
        time = 30.m
        memory = 1.GB
    }

    // added for QC //
    withLabel:bigMem {
      memory = '8GB'
    }

}
